html, body {
    height: 100%
}

.layout {
    border-bottom: 1px solid #d7dde4;
    background: #f5f7f9;
    border-radius: 4px;
    overflow-y: auto;
}

.layout-title {
    width: 80%;
    height: 30px;
    float: left;
    top: 15px;
    left: 20px;
    position: absolute;
}

    .layout-title .layout-logo {
        width: 140px;
        height: 40px;
        background: #5b6270;
        float: left;
        line-height: 30px;
    }

        .layout-title .layout-logo img {
            width: 140px;
            height: 40px;
        }

    .layout-title .layout-text {
        width: auto;
        text-indent: 10px;
        height: 30px;
        font-size: 25px;
        line-height: 30px;
        vertical-align: middle;
        color: #ffffff;
    }


.layout-nav {
    margin: 0 auto;
    margin-right: 20px;
    float: right;
}

.layout-header-bar {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.ivu-layout-header {
    padding: 0px;
}

.fullscreen-frame {
    width: 100%;
    height: calc(100vh - 149px);
}
.fullscreen-frame-footer-hide {
    width: 100%;
    height: calc(100vh - 88px);
}